/* write css here */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-weight: 400;
}
body{
  font-family: Roboto,sans-serif;
  position: relative;
 
}
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: #333;
  grid-template-columns: 0.8fr 4fr;
}
.addexpense{
  z-index: 10;
  padding: 2rem;
  width: auto;
  height: auto;
  border: 1px solid #5c6264;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2.5rem;
  font-weight: 500;
  /* background-color: #1d070787; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #daedf10a;
  background-image: url(./bg.jpg);
  background-size: cover;
}

h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.fields{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 1.5rem;
  margin: 1rem 0;
}

input,select {
  margin-bottom: 1.2rem;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 8px 10px;
  width: 45rem;
  background-color: #e5e5ec;
}
input:focus{
  outline: none;
  border: 1px solid #333;
}

.btn{
  background-color: #ef0606d2;
  font-size: 1.6rem;
  color: #fff;
  padding: 10px;
  margin: 2rem 0 0 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* width: 40%; */
  align-self: center;
}

.btn:hover {
  background-color: #ca1818;
  transform: translateY(-2%) scale(1.01);
  transition: all .2s;
}

.close-popup{
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 3rem;
  color: #666;
  font-weight: 100;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}



/* ************************************************* */
.nav {
  /* width: 200px; */
  background-color:#25596eb0;
  height: 100vh;
  padding-top: 5rem;
  
}

.nav-head {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.nav ul {
  list-style-type: none;
  padding-left: 1rem;
}

.nav ul li {
  padding: 1rem;
  position: relative;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  display: block;
  padding: 1rem;
}

.nav ul li:hover {
  background-color: #457b9d;
}

.nav .nav-btn {
  margin-top: auto;
  padding: 15px;
  text-align: center;
}

.nav .nav-btn button {
  background-color: #457b9d;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 2rem;
}

.nav .nav-btn button:hover {
  background-color: #498db8;
}

.icon {
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}


.flex{
  display: flex;
  align-items: center;
}


.nav ul li .sub-menu {
  display: none;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  background-color: #264653; 
  z-index: 1;
}

.nav ul li:hover .sub-menu {
  display: block;
}

.nav ul li .sub-menu li a {
  color: white; 
}

.nav ul li .sub-menu li:hover {
  background-color: #457b9d;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #b6c6e675;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 5;
}
/* ***************************************************** */

.home {
  background-color: #457b9d;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-image: url(./bg.jpg);
    background-size: cover;
  
}

.sidePage{
  padding: 3rem;
  background-color: #8ecae61f;
  flex-direction: column;
  gap: 2.6rem;
}

.total-expense{
  padding: 1rem;
  width: 100%;
  height: 10rem;
  background-color: #ffffffa9;
  font-size: 2.4rem;
  border-radius: 1.2rem;
}
.total-expense p,
.box p{
  font-size: 1.4rem;
  margin-bottom: 1rem;
  
}
.analysis{
  width: 100%;
  height: 100%;
  /* background-color: #bbb; */
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.box{
  padding: 1.2rem;
  width: 100%;
  height: 8rem;
  background-color: #ffffffad;
  font-size: 2.4rem;
  border-radius: 1.2rem;
}

/* ******************************table**************************** */
.dashboard {
  /* background-color: #a8dadc; */
  height: 100vh;
    /* padding-left: 1rem; */
    overflow: scroll;
    /* opacity: 0.9; */
    scroll-behavior: smooth;
    
  
}
.dashboard::-webkit-scrollbar {
  display: none;
}

table{
  width: 100%;
  border-collapse: collapse;
  /* height: 100vh; */
  overflow-y: hidden;
  /* display: block; */
  padding: 1rem;
  position: relative;
  
}
thead{
  background-color: #457b9d ;
  /* color: #9c4040; */
  font-size: 1.6rem;
  height: 6rem;
  position: sticky;
  top: 0;
  color: #000;
  width: 110%;
  margin-left: -5rem;

}
tbody{
  margin-left: 10rem;
}
th{
  padding: 1rem;
  text-align: left;
  height: 2rem;
  padding-left: 2rem;
}
td{
  padding: 1rem 0;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
  font-size: 1.6rem;
  color: #323232;
  /* height: 1rem; */
  padding-left: 2rem;
}
tr{
  height: 10rem;
}
tr:hover :not(th){
  transition: all .3s !important;
  background-color: #61b5d6;
  z-index: 1;
}
tr:hover .dlt{
  background-color: rgb(115, 192, 231);
  color: #fff;
}
.dlt{
  background-color: rgb(115, 192, 231);
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: -1rem;
  z-index: 10;
}